<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2019-2020 Elypia CIC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.username">alexis</property>
    <property name="hibernate.c3p0.max_size">16</property>
    <property name="hibernate.show_sql">false</property>

    <mapping class="org.elypia.alexis.entities.ActivityData"/>
    <mapping class="org.elypia.alexis.entities.AssignableRole"/>
    <mapping class="org.elypia.alexis.entities.EmoteData"/>
    <mapping class="org.elypia.alexis.entities.EmoteUsage"/>
    <mapping class="org.elypia.alexis.entities.GuildData"/>
    <mapping class="org.elypia.alexis.entities.GuildFeature"/>
    <mapping class="org.elypia.alexis.entities.GuildMessage"/>
    <mapping class="org.elypia.alexis.entities.LogSubscription"/>
    <mapping class="org.elypia.alexis.entities.MemberData"/>
    <mapping class="org.elypia.alexis.entities.MemberSkill"/>
    <mapping class="org.elypia.alexis.entities.MessageChannelData"/>
    <mapping class="org.elypia.alexis.entities.Milestone"/>
    <mapping class="org.elypia.alexis.entities.SkillData"/>
    <mapping class="org.elypia.alexis.entities.UserData"/>
  </session-factory>
</hibernate-configuration>
