<configuration>
    <property file="./logger.properties"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight([%-5p]) [%blue(%d{MM/dd, UTC}) %green(%d{HH:mm, UTC})] %blue([%logger]) %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DISCORD" class="com.elypia.alexis.logging.DiscordAppender">
        <token>${token}</token>
        <id>${id}</id>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DISCORD"/>
    </root>

    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.mongodb" level="WARN"/>
    <logger name="xyz.morphia" level="WARN"/>
    <logger name="net.dv8tion" level="WARN"/>
    <logger name="com.sedmelluq" level="WARN"/>
</configuration>
