<!--
  ~ Alexis - A general purpose chatbot for Discord.
  ~ Copyright (C) 2019-2019  Elypia CIC
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<configuration>
    <logger name="com" level="WARN"/>
    <logger name="com.netflix.config.sources.URLConfigurationSource" level="ERROR"/>
    <logger name="net" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.jboss" level="WARN"/>
    <logger name="reactor" level="WARN"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight([%-5p]) [%blue(%d{MM/dd, UTC}) %green(%d{HH:mm:ss, UTC})] %blue([%logger]) %msg%n</pattern>
        </encoder>
    </appender>

    <!-- If STACKDRIVER is defined, assume we're running on Google Cloud Platform. -->
    <if condition='isDefined("STACKDRIVER")'>
        <then>
            <appender name="STACKDRIVER" class="com.google.cloud.logging.logback.LoggingAppender">
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>INFO</level>
                </filter>
                <log>alexis.log</log>
                <flushLevel>WARN</flushLevel>
            </appender>
        </then>
    </if>

    <root level="ALL">
        <appender-ref ref="STDOUT"/>

        <if condition='isDefined("STACKDRIVER")'>
            <then><appender-ref ref="STACKDRIVER"/></then>
        </if>
    </root>
</configuration>
