<!--
  ~ Copyright 2019-2020 Elypia CIC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <logger name="com" level="WARN"/>
    <logger name="com.netflix.config.sources.URLConfigurationSource" level="ERROR"/>
    <logger name="feign" level="WARN"/>
    <logger name="io" level="WARN"/>
    <logger name="javax" level="WARN"/>
    <logger name="jdk" level="WARN"/>
    <logger name="net" level="WARN"/>
    <logger name="okhttp3" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.jboss" level="WARN"/>
    <logger name="org.jboss.weld.Validator" level="ERROR"/>
    <logger name="org.quartz" level="WARN"/>
    <logger name="reactor" level="WARN"/>
    <logger name="sun" level="WARN"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight([%-5p]) [%blue(%d{MM/dd, UTC}) %green(%d{HH:mm:ss, UTC})] %blue([%logger]) %msg%n</pattern>
        </encoder>
    </appender>

    <!-- If GOOGLE_CLOUD_LOGGING is defined, enable logging to Google Cloud Logs Viewer. -->
    <if condition='property("GOOGLE_CLOUD_LOGGING").equals("true")'>
        <then>
            <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>INFO</level>
                </filter>
                <log>alexis.log</log>
                <flushLevel>WARN</flushLevel>
                <enhancer>org.elypia.alexis.ProjectStageLoggingEnhancer</enhancer>
            </appender>
        </then>
    </if>

    <root level="ALL">
        <appender-ref ref="STDOUT"/>

        <if condition='property("GOOGLE_CLOUD_LOGGING").equals("true")'>
            <then><appender-ref ref="CLOUD"/></then>
        </if>
    </root>
</configuration>
